@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #080b12;
}

.titulo-subtitulo p {
  width: 75;
  height: 16;
  angle: 0 deg;
  opacity: 1;
  font-family: Cousine;
  font-weight: 400;
  font-style: Regular;
  margin-left: 30px;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #2563eb;
}

.titulo-subtitulo h1 {
  width: 403;
  height: 60;
  angle: 0 deg;
  opacity: 1;
  font-family: Barlow Condensed;
  font-weight: 900;
  font-style: rgb(255, 255, 255);
  font-size: 60px;
  margin-left: 30px;
  leading-trim: NONE;
  line-height: 60px;
  letter-spacing: 0px;
  color: white;
}

.img-texto img {
  width: 80px;
  height: 56px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 16px;
}

.card .img-texto .textos .titulo-status {
  display: flex;
  gap: 9.3px;
  align-items: center;
}
.card .img-texto {
  display: flex;
  gap: 16px;
}

.card {
  display: flex;
  align-items: center;
  gap: 0px;
  width: 976;
  height: 101;
  angle: 0 deg;
  opacity: 1;
  border-radius: 16px;
  border-width: 1px;
  padding: 20px;
  background-color: #0d1322;
  border: #2563eb26 solid 1px;
}

.list-reservas {
  display: grid;
  gap: 16px;
}

.card .img-texto .textos .titulo-status p {
  display: flex;
  justify-content: center;
  align-items: center;
  angle: 0 deg;
  opacity: 1;
  top: 2px;
  left: 9px;
  font-family: Cousine;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  background-color: #00bc7d1a;
  width: 90.09375;
  height: 21;
  angle: 0 deg;
  opacity: 1;
  border-radius: 340282001837565600000000000000000000000px;
  border-width: 1px;
  left: 112.3px;
  border: #00bc7d40 solid 1px;
  color: #00d492;
}

.card .img-texto .textos .titulo-status h4 {
  flex-shrink: 0;
  width: auto;
  height: 18;
  angle: 0 deg;
  opacity: 1;
  font-family: Barlow Condensed;
  font-weight: 900;
  font-style: Black;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 17.6px;
  letter-spacing: 0px;
  color: white;
}

.card .img-texto .textos .info {
  width: 390;
  height: 16;
  angle: 0 deg;
  opacity: 1;
  font-family: Cousine;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  color: #64748b;
}
.card .img-texto .textos .inicioFim {
  width: 176;
  height: 16;
  angle: 0 deg;
  opacity: 1;
  font-family: Cousine;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  color: #64748b;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons .btn-detalhes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  angle: 0 deg;
  opacity: 1;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #2563eb1a;
  width: 110;
  height: 32;
  angle: 0 deg;
  opacity: 1;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  border-radius: 16px;
  color: #2563eb;
  border: none;
}

.buttons .btn-cancelar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  angle: 0 deg;
  opacity: 1;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #fb2c361a;
  width: 110;
  height: 32;
  angle: 0 deg;
  opacity: 1;
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  border-radius: 16px;
  color: #ff6467;
  border: none;
}

.newadventure {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: "Inter", sans-serif;
}

.newadventure p{
  justify-content: center;
  padding-bottom: 30px;
  color: #64748B;

}

.newadventure button{
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: #2563eb;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
}

.btn-explorar-catalogo:hover{
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: #14347b;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.btn-explorar-catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: #2563eb;
  text-align: center;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

/*------FOOTER-----*/

.footer{

    background: #0D1322;
    font-family:'Outfit',sans-serif;

}

.footer .footer-top{

    height:96px;

    width: 100%;

    background: #080C14;

    border-top: 1px solid #2563EB26;

}

.footer .footer-content{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    padding:64px 24px 48px 24px;
    
    border-top: 1px solid #2563EB26;

    gap: 40px;

}

.footer .footer-content .footer-brand{

    width: 236px;

}

.footer .footer-content .footer-brand a{

    display:flex;

    align-items:center;

    gap:12px;
    
    margin-bottom:20px;

    text-decoration: none;
    color: inherit;

}

.footer .footer-content .footer-brand a img{

    width:13px;

    height:13px;

    display:flex;

    align-items:center;

    justify-content: center;

    border-radius: 12px;

    background: #2563EB;

    padding: 7.5px;
}

.footer .footer-content .footer-brand a h2{

    font-family: 'Inter';
    font-weight: 900;
    color: white;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;


}

.footer .footer-content .footer-brand a span{

    color:#2E6CFF;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;

}

.footer .footer-content .footer-brand p{

    font-size:24px;

    line-height:1.6;

    color:#67728A;

    margin-bottom:32px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.75px;
    letter-spacing: 0px;


}

.footer .footer-content .footer-brand .social-media{

    display:flex;

    gap:14px;

}

.footer .footer-content .footer-brand .social-media a{

    width:46px;

    height:46px;

    border: 1px solid #2563EB26;

    border-radius:12px;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:.2s;

    background: #141D30;

    color: inherit;

    text-decoration: none;

    font-family: 'Cousine', monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #64748B;


}

.footer .footer-content .footer-brand.social-media a{

    width:36px;

    height:36px;

}

.footer .footer-content .footer-brand .social-media a:hover{

    border-color:#2E6CFF;

}

.footer .footer-content .footer-column{

    display:flex;

    flex-direction:column;

    gap:16px;

    min-width:180px;

}

.footer .footer-content .footer-column h4{

    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #64748B;

}

.footer .footer-content .footer-column a{

    color: #64748B;

    text-decoration:none;


    transition:.2s;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;

}

.footer .footer-content .footer-column span{

    color: #64748B;

    text-decoration:none;


    transition:.2s;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;

}

.footer .footer-content .footer-column a:hover{

    color:white;

}

.footer .footer-content .footer-column span{

    color: #64748B;

    text-decoration:none;


    transition:.2s;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;

}

.footer .footer-content #contact-items-div{

    margin-right: 28px;

}

.footer .footer-content .contact-item{

    display:flex;

    align-items:flex-start;

    gap:12px;

    color:#9CA3AF;

    font-size:22px;

    line-height:1.6;

}

.footer .footer-content .contact-item{

    display:flex;

    align-items:flex-start;

    gap:12px;

    color:#9CA3AF;

    font-size:22px;

    line-height:1.6;

}

.footer .footer-content .contact-item img{

    width:18px;

}

.footer .footer-bottom{

    margin:0 24px 0;

    padding:24px 0 64px 0;

    display:flex;

    justify-content:space-between;

    border-top: 1px solid #2563EB26;

    align-items:center;

}

.footer .footer-bottom span{

    font-family: 'Cousine', monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color:#64748B;

}