@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #080b12;
}

.titulo-subtitulo p {
  width: 75;
  height: 16;
  angle: 0 deg;
  opacity: 1;
  font-family: Cousine;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #2563eb;
}

.titulo-subtitulo h1 {
  width: 403;
  height: 60;
  angle: 0 deg;
  opacity: 1;
  font-family: Barlow Condensed;
  font-weight: 900;
  font-style: rgb(255, 255, 255);
  font-size: 60px;
  leading-trim: NONE;
  line-height: 60px;
  letter-spacing: 0px;
  color: white;
}

.img-texto img {
  width: 80px;
  height: 56px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 16px;
}

.card .img-texto .textos .titulo-status {
  display: flex;
  gap: 9.3px;
  align-items: center;
}
.card .img-texto {
  display: flex;
  gap: 16px;
}

.card {
  display: flex;
  align-items: center;
  gap: 0px;
  width: 976;
  height: 101;
  angle: 0 deg;
  opacity: 1;
  border-radius: 16px;
  border-width: 1px;
  padding: 20px;
  background-color: #0d1322;
  border: #2563eb26 solid 1px;
}

.list-reservas {
  display: grid;
  gap: 16px;
}

.card .img-texto .textos .titulo-status p {
  display: flex;
  justify-content: center;
  align-items: center;
  angle: 0 deg;
  opacity: 1;
  top: 2px;
  left: 9px;
  font-family: Cousine;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  background-color: #00bc7d1a;
  width: 90.09375;
  height: 21;
  angle: 0 deg;
  opacity: 1;
  border-radius: 340282001837565600000000000000000000000px;
  border-width: 1px;
  left: 112.3px;
  border: #00bc7d40 solid 1px;
  color: #00d492;
}

.card .img-texto .textos .titulo-status h4 {
  flex-shrink: 0;
  width: auto;
  height: 18;
  angle: 0 deg;
  opacity: 1;
  font-family: Barlow Condensed;
  font-weight: 900;
  font-style: Black;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 17.6px;
  letter-spacing: 0px;
  color: white;
}

.card .img-texto .textos .info {
  width: 390;
  height: 16;
  angle: 0 deg;
  opacity: 1;
  font-family: Cousine;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  color: #64748b;
}
.card .img-texto .textos .inicioFim {
  width: 176;
  height: 16;
  angle: 0 deg;
  opacity: 1;
  font-family: Cousine;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  color: #64748b;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons .btn-detalhes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  angle: 0 deg;
  opacity: 1;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #2563eb1a;
  width: 110;
  height: 32;
  angle: 0 deg;
  opacity: 1;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  border-radius: 16px;
  color: #2563eb;
  border: none;
}

.buttons .btn-cancelar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  angle: 0 deg;
  opacity: 1;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #fb2c361a;
  width: 110;
  height: 32;
  angle: 0 deg;
  opacity: 1;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  border-radius: 16px;
  color: #ff6467;
  border: none;
}
